<template>
  <div class="container">
    <ul class="navbar">
      <li class="btn-exit">
        <a>
          <img src="@/assets/exit.svg" class="exit-svg" />
        </a>
      </li>
    </ul>
    <div class="main">
      <div @click="clicks" class="result">{{ clickPerDay.length }}</div>
      <button type="button" @click="undo" class="btn-undo">
        <img src="@/assets/undo.svg" class="undo-svg" />
      </button>
      <div class="last-click">
        <p>{{ lastClick }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  name: "Home",
  data() {
    return {
      clickDates: []
    };
  },

  computed: {
    clickPerDay() {
      return this.clickDates.filter(dates => moment().isSame(dates, "day"));
    },
    lastClick() {
      return this.clickPerDay.length
        ? moment(this.clickPerDay[this.clickPerDay.length - 1]).format(
            "ddd D - HH:mm:ss"
          )
        : "";
    }
  },

  created() {
    moment.locale("es");
    this.clickDates = JSON.parse(localStorage.getItem("clicks")) || [];
  },

  methods: {
    setLocalStorageValue() {
      localStorage.setItem("clicks", JSON.stringify(this.clickDates));
    },
    clicks() {
      this.clickDates.push(new Date());
      this.setLocalStorageValue();
    },
    undo() {
      this.clickDates.pop();
      this.setLocalStorageValue();
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  height: 88%;
  margin: 10% 10%;
  border: 1px solid #23ffe2;
  border-radius: 15px;
  justify-content: space-between;

  .navbar {
    margin: 1.5em 2em;
    padding: 0;
    list-style-type: none;

    .btn-exit {
      float: right;

      .a {
        width: 25%;

        .exit-svg {
          height: 1em;
          width: 1em;
        }
      }
    }
  }

  .main {
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3em;
    padding: 0;

    .result {
      font-size: 20vh;
      margin: 0.2em 0;
      color: #a6f7ed;
    }

    .btn-undo {
      margin: 10% 0 5%;
      border-radius: 14px;
      border: 1px solid #23ffe2;
      background-color: transparent;
      font-size: 0.75em;
      padding: 0.5em 1.5em;
      color: #23ffe2;

      .undo-svg {
        width: 1em;
        height: 1em;
        padding: 0 0 0.3em;
      }
    }

    .btn-undo:focus {
      outline: currentColor;
    }

    .last-click {
      height: 62px;
      color: #a6f7ed;
      text-align: center;
    }
  }
}
</style>