<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
html, #app, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgb(40, 45, 50) 100%);
  font-family: "Arial Narrow", Arial, sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1025px) {
  body {
    margin: 0 38%;
  }
}
</style>
